<h1>Students</h1>
<h4> <%= @admin.email %> </h4>
<div>
<%= link_to 'Add New Student', new_student_path %>
</div>


<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Cohort</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |display_student| %>
    <tr>
      <th scope="row">1</th>
      <td><%= display_student.first_name %></td>
      <td><%= display_student.last_name %></td>
      <td>
        <% display_student.student_cohorts.each do |stu_cohort| %>
        <%= stu_cohort.cohort.name %>      
        <% end %>
      </td>
      <td>
        [ <%= link_to 'Add Cohort', new_student_student_cohort_path(display_student)%> ] 
        [ <%= link_to 'View', student_path(display_student), 'data-disable-with': 'Hold Up!'%> ] 
        [ <%= link_to 'Edit', edit_student_path(display_student), 'data-disable-with': 'One Sec!' %> ]
        [ <%= link_to "Delete", student_path(display_student), method: :delete %> ]
      </td>
     </tr>
    <% end %>
  </tbody>
</table>

