<h3>Student Information</h3>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Birthday</th>
      <th scope="col">Highest Education</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @student.first_name %></td>
      <td><%= @student.last_name %></td>
      <td><%= @student.birthday %></td>
      <td><%= @student.highest_education %></td>
      <td><%= @student.created_at %></td>
      <td><%= @student.updated_at %></td>
     </tr>
  </tbody>
</table>

<%= link_to 'Return to Students', students_path %>