

<h3>Instructor Information</h3>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Birthday</th>
      <th scope="col">Highest Education</th>
      <th scope="col">Salary</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @instructor.first_name %></td>
      <td><%= @instructor.last_name %></td>
      <td><%= @instructor.birthday %></td>
      <td><%= @instructor.highest_education %></td>
      <td><%= @instructor.salary %></td>
      <td><%= @instructor.created_at %></td>
      <td><%= @instructor.updated_at %></td>
     </tr>
  </tbody>
</table>

<%= link_to 'Return to Instructors', instructors_path %>