<div class="container-fluid">
    <div class="row justify-content-center">
    
        <div class="col-md-6">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "demo@demo.com", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, placeholder: "demo", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <br>
          <div class="field">
            <%= f.check_box :remember_me, :class => "checkbox inline" %> Remember Me
          </div>
        <% end -%>
        <br>
        <div class="actions">
          <%= f.submit "Log In", class: 'btn btn-light' %>
        </div>
      <% end %>
      <br>
      Or are you looking to 
      <%= render "admins/shared/links" %>

    </div>
</div>
