<%= form_for @course do |f| %>

    <div>
        <%= f.label :name, 'Name of New Course' %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :total_hours, "Total Hours of Course" %>
        <%= f.number_field :total_hours, class: 'form-control' %>
    </div>    
    <br>
    <div>   
        <%= f.submit "Submit", class: 'btn btn-light' %>
    </div>

<% end %>