<h3>Course</h3>

<div>Name: <%= @course.name %></div>
<div>Total Hours: <%= @course.total_hours %></div>
<div>Created at: <%= @course.created_at %></div>
<div>Updated at: <%= @course.updated_at %></div>

<%= link_to 'Return to Courses', courses_path %>