<!DOCTYPE html>
<html>
  <head>
    <title>Pamela's Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
     <%= custom_bootstrap_flash %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
      <%= image_tag "icons/icons8-picasso.png" %>
      Pamela's Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

<%# 
  checks if user is logged in via devise and loads the following code if true.
  if the user is not logged in the code will NOT load.
%>
      <% if current_admin %>

        <li class="nav-item active">
            <a class="nav-link" href="<%= dashboard_index_path %>">
            <%= image_tag "icons/icons8-home.png" %>
            Home
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="<%= students_path %>">
            <%= image_tag "icons/icons8-students.png" %>
            Students
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="<%= instructors_path %>">
            <%= image_tag "icons/icons8-classroom.png" %>
            Instructors
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="<%= courses_path %>">
            <%= image_tag "icons/icons8-class.png" %>
            Courses
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="<%= cohorts_path %>">
            <%= image_tag "icons/icons8-google_classroom.png" %>
            Cohorts
            </a>
          </li>

          <li class="nav-item active pull-right">
            <%= link_to image_tag('icons/icons8-airplane_take_off.png') + ' Logout', destroy_admin_session_path, method: 'DELETE', class: 'nav-link' %>
          </li>

          <% else %>

            <li class="nav-item active">
            <a class="nav-link" href="<%= new_admin_registration_path %>">
            <%= image_tag "icons/icons8-hand_with_pen.png" %>
            Sign Up
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="<%= new_admin_session_path %>">
            <%= image_tag "icons/icons8-id_verified.png" %>
            Log In
            </a>
          </li>

      <% end %>

        </li>
       </ul>
      </div>
    </nav>

    <div class="views_container">

        <%= yield %>

    </div>
    
  </body>
</html>
